<!doctype html>
<html>
  <head>
    <title>My Little Diary</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://rawgithub.com/krzysztofbialek/Rails-Girls-Warsaw-App/master/style.css" />
  </head>
  <body>
      <h1>Diary</h1>
      <div>
        <h2></h2>
          <p>1.02.2020</p>
          <p>Just boarded the plan. En route to the Big Apple!!!</p>
          <h2>Have arrived!!!</h2>
          <p>15.02.2020</p>
          <p>This city is amazing. I want to move here.</p>
        <h2>Consumed my body weight in junk food. The portion sizes here are insane</h2>
          <p>22.02.2020</p>
          <p>Visited Ground Zero. It was incredibly moving.</p>
      </div>
      <div>
          <h1>My favourite websites</h1>
            <ul>
              <li><a href="http://twitter.com">Twitter</a></li>
              <li><a href="https://instagram.com">Instagram</a></li>
              <li><a href="http://codewars.com">CodeWars</a></li>
            </ul>
          </div>
        
  </body>
</html>
