<!doctype html>
<html>
  <head>
    <title>My Little Diary</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://rawgithub.com/krzysztofbialek/Rails-Girls-Warsaw-App/master/style.css" />
  </head>
  <body>
      <h1>Diary</h1>
      <div>
        <h2></h2>
          <% for entry in @entries %>
        <h2><%= entry.title %></h2>
       <p><%= entry.date %></p>
       <p><%= entry.contents %></p>
      <% end %>
      </div>
      <div>
          <h1>My favourite websites</h1>
            <ul>
              <li><a href="http://twitter.com">Twitter</a></li>
              <li><a href="https://instagram.com">Instagram</a></li>
              <li><a href="http://codewars.com">CodeWars</a></li>
            </ul>
          </div>
        
  </body>
</html>
